/* Colors */
@define-color background #282828;
@define-color background-alt #32302f;
@define-color foreground #ddc7a1;
@define-color primary #d4be98;

window#waybar {
  background: @background;
  color: @foreground;
  font-family: "Iosevka Nerd Font", "Fira Code";
  font-size: 14px;
}

window.eDP-1 * {
  font-size: 16px;
}

#workspaces button {
  color: @foreground;
  border-radius: 0;
}

#workspaces button.focused {
  background: @background-alt;
  color: @primary;
}

#workspaces button.urgent {
  background: @primary;
}

#mode {
  color: @primary;
}

#tray,
#custom-pacman-packages,
#pulseaudio,
#language,
#network,
#upower,
#backlight,
#clock {
  margin: 8px;
  font-style: italic;
  padding: 0;
  color: @foreground;
}

#pulseaudio.muted {
  color: @primary;
}
