[user]
  email = daniil@tsivinsky.com
  name = Daniil Tsivinsky
[core]
  editor = vim
[init]
  defaultBranch = master
[push]
  followTags = true
[merge]
  tool = nvim
[mergetool]
  prompt = false
  keepBackup = false
[mergetool "nvim"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[pull]
  rebase = false
