[user]
  email = daniil@tsivinsky.com
  name = Daniil Tsivinsky
[core]
  editor = nvim
[init]
  defaultBranch = master
[push]
  followTags = true
  autoSetupRemote = true
[merge]
  tool = nvim
[mergetool]
  prompt = false
  keepBackup = false
[mergetool "nvim"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[pull]
  rebase = false
[alias]
  today = log --author=daniil@tsivinsky.com --since=yesterday
  sync = remote update origin -p
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
