[user]
	email = daniil@tsivinsky.com
	name = Daniil Tsivinsky
[core]
	editor = vim
[init]
	defaultBranch = master
[push]
	followTags = true
[mergetool "nvim"]
  cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"
[merge]
  tool = nvim
[mergetool]
  prompt = false
